.usertext
    h1.usertext__h1 Smart club - умный сервис для умных покупок
    p.usertext__p Получай бонусы, скидки и подарки в любимых магазинах нашего города!
    .usertext__download
        a.usertext__link(href="#")
            img.usertext__img(src='assets/app.png')(alt="")
        a.usertext__link(href="#")
            img.usertext__img(src='assets/google.png')(alt="")