body{
    position: relative;
    margin: 0 auto;
    color: #000;
    overflow-x:hidden;
    font: 18px MullerRegular, sans-serif;
    line-height: 1.5;
    @media(min-width: $desctop){
        font: 20px MullerRegular, sans-serif;
    }
}
.section{
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.container{
    position:relative;
    margin: 0 auto;
    padding: 0 15px;
    @media(min-width: $notebook){
        width: 1260px;
        padding: 0;
    }
}
.main__banner{    
    background-position:center;    
    width: 100%;
    box-sizing:border-box;    
    padding: 30px 0;
    &-dark{
        background-image: url("../images/bg_dark.jpg");
        background-attachment: fixed;
        background-size:cover;
    }
    &-light{
        background-image: url("../images/bg_light.png");
        background-size:contain;
    }
    @media(min-width:$notebook){
       padding-top: 170px;
       min-height: 80vh;
    }
}

.banner__text{
    @media(min-width:$notebook){
        width: 50%;
    }
}
.banner__img{
    width: 30%;
    @media(min-width:$notebook){
    position: absolute;
    z-index:100;
    right: -7%;
    width: 50%;
    top: -20px;
    bottom:auto;
     }
}
.section__howitworcks{
    background: #f7f7f7;
    margin-top:30px;
    padding: 30px 0;    
    @media(min-width:$notebook){
        margin-top:80px;
        padding: 70px 50px;
    }    
}
.section__stimulation{
    background-image: url("../images/hand.png");
    background-position: bottom;
    background-size:contain;
    background-repeat: no-repeat;
    padding: 30px 0;
    padding-bottom: 150px;
    @media(min-width:400px){
        padding-bottom: 200px;
    }
    @media(min-width:640px){
        padding-bottom: 300px;
    }
    @media(min-width:700px){
        padding-bottom: 400px;
    }
    @media(min-width:800px){
        padding-bottom: 450px;
    }
     @media(min-width:900px){
        padding-bottom: 500px;
    }
    @media(min-width:$notebook){
        padding: 70px 0;
        background-size: auto;
        background-position: 250% center;
    }
	@media(min-width:$desctop){       
        background-position: 130% center;
    }
    
}
.section__joinform{
    background: #f7f7f7;
    padding: 30px 0;
    @media(min-width:$notebook){
        padding: 70px 0;
    }
}
.main__banner-lk{
    background: url("../images/bg_lk.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    padding: 30px 0;
     @media(min-width:$notebook){
        padding: 70px 0;
    }

}
.lk__mewsblock{
    background: #f7f7f7;
    padding: 20px 0;
    @media(min-width:$notebook){
        padding: 40px 0;
    }
}