@font-face{
    font-family: MullerBlack;
    src: url("../fonts/muller_font/MullerBlack.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: MullerBlackItalic;
    src: url("../fonts/muller_font/MullerBlackItalic.woff");
    font-weight: 700;
    font-style: italic;
}
@font-face{
    font-family: MullerBold;
    src: url("../fonts/muller_font/MullerBold.woff");
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: MullerBoldItalic;
    src: url("../fonts/muller_font/MullerBoldItalic.woff");
    font-weight: 700;
    font-style: italic;
}
@font-face{
    font-family: MullerExtraBold;
    src: url("../fonts/muller_font/MullerExtraBold.woff");
    font-weight: 900;
    font-style: normal;
}
@font-face{
    font-family: MullerExtraBoldItalic;
    src: url("../fonts/muller_font/MullerExtraBoldItalic.woff");
    font-weight: 900;
    font-style: italic;
}
@font-face{
    font-family: MullerHairline;
    src: url("../fonts/muller_font/MullerHairline.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: MullerHairlineItalic;
    src: url("../fonts/muller_font/MullerHairlineItalic.woff");
    font-weight: 400;
    font-style: italic;
}
@font-face{
    font-family: MullerHeavy;
    src: url("../fonts/muller_font/MullerHeavy.woff");
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: MullerHeavyItalic;
    src: url("../fonts/muller_font/MullerHeavyItalic.woff");
    font-weight: 500;
    font-style: italic;
}
@font-face{
    font-family: MullerLight;
    src: url("../fonts/muller_font/MullerLight.woff");
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: MullerLightItalic;
    src: url("../fonts/muller_font/MullerLightItalic.woff");
    font-weight: 300;
    font-style: italic;
}
@font-face{
    font-family: MullerRegular;
    src: url("../fonts/muller_font/MullerRegular.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: MullerRegularItalic;
    src: url("../fonts/muller_font/MullerRegularItalic.woff");
    font-weight: 400;
    font-style: italic;
}
@font-face{
    font-family: MullerThin;
    src: url("../fonts/muller_font/MullerThin.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: MullerThinItalic;
    src: url("../fonts/muller_font/MullerThinItalic.woff");
    font-weight: 400;
    font-style: italic;
}
@font-face{
    font-family: MullerUltraLight;
    src: url("../fonts/muller_font/MullerUltraLight.woff");
    font-weight: 200;
    font-style: normal;
}
@font-face{
    font-family: MullerUltraLightItalic;
    src: url("../fonts/muller_font/MullerUltraLightItalic.woff");
    font-weight: 300;
    font-style: italic;
}
@font-face{
    font-family: MullerMedium;
    src: url("../fonts/muller_font/MullerMedium.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: MullerMediumItalic;
    src: url("../fonts/muller_font/MullerMediumItalic.woff");
    font-weight: 400;
    font-style: normal;
}

