.partner
    h2.partner__h2 Партнеры
    .partner__carousel                
        .partner__item
            img(src="assets/partner1.png")
        .partner__item
            img(src="assets/partner2.png")
        .partner__item
            img(src="assets/partner3.png")
        .partner__item
            img(src="assets/partner1.png")
        .partner__item
            img(src="assets/partner2.png")
        .partner__item
            img(src="assets/partner3.png")
    .partner__arrows
            