.access
    .access__title Присоединяйся к Smart Club, начинай зарабатывать!
    span.access__span Введите данные для входа
    form.access__form.enterance
        label.access__label
            input.access__input.access__input-text.access__input-phone(type="text")(placeholder="Номер телефона")
        label.access__label
            input.access__input.access__input-text(type="text")(placeholder="Пароль")
        label.access__label
            input.access__input.access__input-submit(type="submit")(value="Войти")
    .access__link
        a(href="sendcode.html") Забыли пароль?
        a(href="registration.html") Регистрация
