.topmenu{
    display:none;
    &__ul{
        padding: 0;
        margin: 0;
        text-align:right;
    }
    &__li{
        list-style: none;
        margin: 0 20px; 
        padding: 0;
        display: inline-block;
    }
    &__link{
        font:16px MullerBold, sans-serif;
        text-transform: uppercase;
        transition: color .3s;
        text-decoration: none;
        cursor: pointer;
        color:#000;
        &-active, &:hover, &:active, &:focus{
            color:#f1cb25;
        }
        &:visited{
            color: #000;
        }
        @media(min-width: 1300px){
            font:18px MullerBold, sans-serif;
        }
    }
    @media(min-width:$notebook){
        display: block;
    }
    
}
.header__top.topmenuOpen{
    .topmenu{
        display: block;
        background: #f7f7f7;
        position: absolute;
        padding: 20px;
        right: 10px;
        top:50px;
        z-index: 100;
        .topmenu__li{
            display:block;
        }
        @media(min-width:650px){
            top:60px;
        }
    }
    .header__topmenu-lk{
         align-items: flex-end;
         flex-direction:column;
        .topmenu{
            background: transparent;
            position:static;
            padding:0;
        }
        .lkmenu{
            display: block;
            @media(min-width:640px){
                 margin-top: 50px;
            }
        }
        .exit{
            display: block;
            margin-right:20px;
        }
        .lkmenu__li{
            display:block;
        }
        .hamburger {
            @media(min-width:640px){
                position: absolute;
                right: 15px;
                top: 30px;
                cursor: pointer;
            }
        }
    }
}
.hamburger{
    position: absolute;
    right: 15px;
    top: 30px;  
    cursor:pointer;
    span{
        width: 50px;
        height: 4px;
        background: #a0a0a0;
        display:block;  
    &:after{
        content:'';
        top: -10px;
        position:absolute;
        width: 50px;
        height: 4px;
        background: #a0a0a0;
        transition: top .3s;
    }
    &:before{
        content:'';
        bottom: -10px;
        position:absolute;
        width: 50px;
        height: 4px;
        background: #a0a0a0;
        transition: top .3s;
    }
 }
    &.openHamburger{
        span{
            &:after{
                top: -6px;
            }
             &:before{
                bottom: -6px;
            } 
        }
    }
    @media(min-width:640px){
         position:relative;
         top: auto;
         right: auto;
    }
    @media(min-width:$notebook){
        display: none;
    }
}