nav.lkmenu
    ul.lkmenu__ul
        li.lkmenu__li 
            span.lkmenu__link.lkmenu__link-active Новости
        li.lkmenu__li 
            a(href="map.html").lkmenu__link Карта
        li.lkmenu__li 
            a(href="bonuses.html").lkmenu__link Бонусы
        li.lkmenu__li 
            a(href="purchases.html").lkmenu__link Покупки