.footersoc{
    &__items{
        padding: 0;
        @media(min-width:640px){
            display:flex;                    
            flex-wrap:wrap;
        }
         @media(min-width:$notebook){
             justify-content: space-between;
             flex-wrap:nowrap;
         }
    }
    &__li{
        list-style: none;
    }
    &__link{
        text-decoration: none;
        color: #000;
        transition: color .3s;
        font: 16px MullerRegular, sans-serif;
        &:hover, &:focus, &:active{
           color: #f1cb25;
        }
         @media(min-width:640px){
           margin: 10px 20px;
        }
         @media(min-width:$notebook){
            font: 20px MullerRegular, sans-serif;
             margin: 0;
         }
    }
    &__icon{
        width:40px;
        height: 40px;
        background: #f7f7f7;
        border-radius: 100%;
        background-image: url("../images/sprite.png"); 
        margin-right: 10px;
        display: inline-block;
        margin-bottom: -12px;
        &-whatsapp{
            background-position: 160px;
        }
        &-email{
            background-position: 120px;
        }
        &-vk{
            background-position: 80px;
        }
        &-instagram{
            background-position: 40px;
        }
    }
}