.footersoc
  .footersoc__items
    li.footersoc__li
        a.footersoc__link(href="#")
            i.footersoc__icon.footersoc__icon-phone
            span  +7 (3412) 57 07 38
    li.footersoc__li
        a.footersoc__link(href="#")
            i.footersoc__icon.footersoc__icon-whatsapp
            span  +7 (912) 877 04 47 
    li.footersoc__li
        a.footersoc__link(href="#")
            i.footersoc__icon.footersoc__icon-email
            span  office@smartclub18.ru
    li.footersoc__li
        a.footersoc__link(href="#")
            i.footersoc__icon.footersoc__icon-vk
            span  vk.com/smart_club18 
    li.footersoc__li
        a.footersoc__link(href="#")
            i.footersoc__icon.footersoc__icon-instagram
            span  smartclub18