.joinform{
    text-align: center;
    &__h2{
        font: 30px MullerBold, sans-serif;
        margin: 0;
        text-align: left;
        &::after{
           content: " ";
           display:block;
           width: 130px;
           height: 4px;
           background: #a0a0a0; 
           margin: 30px 0;
        }
        @media(min-width:$notebook){
            font: 46px MullerBold, sans-serif;
        }
    }
    &__form{
        @media(min-width:$notebook){
            display: flex;
            flex-wrap: wrap;
            margin: 0 -20px;
            justify-content: space-between;
        }
    }
    &__label{
        position:relative;
        margin: 20px auto;
        width: 100%;
        max-width: 380px;        
        @media(min-width:$notebook){
            width: calc(25% - 40px);
            margin: 0 20px;
        }
    }
    &__input{
        position:relative;
        margin: 10px auto;
        width: 100%;
        max-width: 380px;
        box-sizing: border-box;
        padding: 15px 16px;
        border-radius: 12px;
        &-text{            
            border: 1px solid #fff;
            background: #fff;            
            transition: border .3s;
            color:#a0a0a0;
            &:hover, &:focus{
                border: 1px solid #f1cb25;
                color: #000;
                outline: none;
            }        
        }
        &-submit{
            font: 20px MullerBold, sans-serif;
            background: #f1cb25;
            border: none;
        }
         @media(min-width:$notebook){
             margin: 0;
         }
    }
}
.joinform__confirm{
    margin: 20px;
    a{
       color: #a0a0a0;
    text-decoration: none;
    border-bottom: 1px solid;
    transition: border .3s;
    &:hover{
         border-bottom: none;
    } 
    }
}