.access
    .access__title Присоединяйся к Smart Club, начинай зарабатывать!
    span.access__span Восстановление пароля
    form.access__form.sendcode
        label.access__label
            input.access__input.access__input-text.access__input-phone.access__input-recovery(type="text")(placeholder="Номер телефона")
        label.access__label.send__code
          input.access__input.access__input-submit(type="submit")(value="Получить код")
    a(href="#").access__back Назад
