.about
   .about__h2 О нас 
   .about__about
    .about__text
        p Свой путь компания начала в 2008 году как представитель дисконтно-бонусной программы в Удмуртии. За 7 лет упорной работы у нас сложилась своя коалиция предпринимателей, и развились профессиональные навыки сотрудников. 
        p Сейчас наш сервис находится на высоком уровне, благодаря колоссальной работе над ошибками, которая была проведена, учитывая непростое время нашего старта. 
        p В 2018 году наша команда создала принципиально новый для Ижевска инструмент, который объединил в удобном формате малый бизнес и покупателя - городскую коалиционную программу лояльности «Smart Club».
    img.about__img(src="assets/big_logo.png")(alt="")