.userhowitworcks
    h2.userhowitworcks__h2 Как это работает?
    .userhowitworcks__items
        .userhowitworcks__item
            img.userhowitworcks__img(src="assets/shop.png")(alt="")
            | Совершайте покупки у партнеров программы Smart Club 
        .userhowitworcks__item
            img.userhowitworcks__img(src="assets/gift.png")(alt="")
            | Копите бонусы, получайте скидки и подарки 
        .userhowitworcks__item
            img.userhowitworcks__img(src="assets/money.png")(alt="")
            | Оплачивайте бонусами до 100% от суммы покупки
    a.userhowitworcks__button(href="#") Скачать приложение