.header{
    &__top{
        margin-top: 10px;
        @media(min-width: 640px){
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        @media(min-width: $notebook){            
            margin: 0 -15px;
            transition: padding .3s;
            padding: 20px 0;            
        }
        @media(min-width: $desctop){
            margin: 0 -20px;
        }
    }
    &__logo{
        @media(min-width:$notebook){
            transition: width .3s;
            margin: 0 15px;
            width: calc(100%/8 - 30px);
        }
        @media(min-width:$desctop){
            margin: 0 20px;
            width: calc(100%/8 - 40px);
        }
    }
    &__topmenu{
        @media(min-width:640px){
            order:1;
        }
        @media(min-width:$notebook){
            order:0;
            margin: 0 15px;
            width: calc(62% - 30px);
        }
        @media(min-width:$desctop){
            margin: 0 20px;
            width: calc(62% - 40px);
        }
    }
    &__registrationbutton{
        @media(min-width:$notebook){
            margin: 0 15px;
            width: calc(25% - 30px);
        }
        @media(min-width:$desctop){
            margin: 0 20px;
            width: calc(25% - 40px);
        }
    }
    &.fixed{
        width:100%;
        z-index:999;
        position:fixed;
        background: #fff;        
        .header__top{
            padding:0;
        }
        img{
            width:50px;
        }
        .topmenu__link, .registrationbutton__link,.lkmenu__link, .exit{
        font: 14px MullerBold, sans-serif;
    }
    }
    
        
}