header.header
    .container
        .header__top
            .header__logo
                include ../../modules/logo/logo
            .header__topmenu
                include ../../modules/topmenu/topmenu
            .header__registrationbutton
                include ../../modules/registrationbutton/registrationbutton