@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/MullerBlack.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/MullerBlackItalic.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/MullerBold.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/MullerBoldItalic.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/MullerExtraBold.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/MullerExtraBoldItalic.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/MullerHairline.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/MullerHairlineItalic.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/MullerHeavy.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/MullerHeavyItalic.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/MullerLight.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/MullerLightItalic.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/MullerRegular.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/MullerRegularItalic.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/MullerThin.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/MullerThinItalic.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/MullerUltraLight.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/MullerUltraLightItalic.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/ullerMedium.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Roboto-Black;
    src: url("../fonts/muller_font/ullerMediumItalic.woff");
    font-weight: 400;
    font-style: normal;
}