link(rel="stylesheet" href="styles/magnific-popup.css")
link(rel="stylesheet" href="styles/slick.css")
link(rel="stylesheet" href="styles/slick-theme.css")
link(rel="stylesheet" href="styles/main.css")
script(src="https://api-maps.yandex.ru/2.1/?apikey=bda7db0f-779b-44c1-9bdc-4b404d619e69&lang=ru_RU" type="text/javascript")
