.more{
    margin: 40px 0;
}
.more__link{
    position: relative;
    margin: 0 auto;
    display: block;
    width:100%;
    max-width: 380px;
    padding: 25px;
    text-align:center;
    color: #000;
    background: #fbd429;
    border-radius: 12px;
    text-transform: uppercase;
    font:18px MullerBold, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    &:hover, &:active, &:focus{
         color: #000;
    }
}
.spoiler__item{
    display:none!important;
}
.spoiler__item-open{
    display:block!important;
}
.purchases__row.spoiler__item-open{
    @media(min-width:$tablet){
        display:table-row!important;
    }    
}
.bonuses__row.spoiler__item-open{
      @media(min-width:$tablet){
        display:flex!important;
      }
}