article.news__item
    header.news__head
        h2.news__h2 Изюм 
        time.news__time 26.09.2018
    .news__content
        .news__text
            p Сеть стильных аксессуаров ИЗЮМ - это всегда большой выбор:
            ul
                li сумок
                li солнцезащитных очков
                li головных уборов
                li аксессуаров
            p Ждем вас по адресам:
            ul
                li ТЦ Талисман, 2 этаж
                li ТЦ Петровский, 2 этаж 
                li ТЦ Кит, 2 этаж
        img.news__img(src="../assets/news.png")