.stimulation
    h2.stimulation__h2 Программа стимулирования покупок 
    .stimulation__descript Что получает предприниматель, подключившись к Smart Club:
    ul.stimulation__items
        li.stimulation__li Интерфейс приложения Smart Club понятен и прост в использовании; поэтому покупатель интуитивно просматривает все предложения, что дает предпринимателю возможность 
            strong увеличить продажи своих товаров и услуг, не снижая цены
        li.stimulation__li Smart Club  дает возможность предпринимателю 
            strong проводить сбытовые промоакции, не прибегая к услугам рекламных агентств
        li.stimulation__li Smart Club предусматривает 
            strong возможность Cross-promo акций с неконкурирующими организациями для обмена клиентами, 
            | основываясь на пользовательской статистике и идентичности ЦА
        li.stimulation__li Smart Club существенно 
            strong снижает маркетинговые затраты 
            | предпринимателя, т.к. отсутствуют затраты на классические рекламные кампании
        li.stimulation__li Smart Club позволяет 
            strong накапливать и хранить всю историю покупок
        li.stimulation__li С помощью Smart Club предприниматель создаёт 
            strong специальные предложения (вплоть до персональных) 
            | и предлагает 
            strong акции своим клиентам в режиме реального времени
