.purchases__table
    .purchases__row.purchases__row-head
        .purchases__cell.purchases__cell-head Дата
        .purchases__cell.purchases__cell-head Магазин
        .purchases__cell.purchases__cell-head Сумма покупки
        .purchases__cell.purchases__cell-head Списано
        .purchases__cell.purchases__cell-head Начислено
    .purchases__row
        .purchases__cell 
            .purchases__content(data-title="Дата") 05.01.2018 22:12 
        .purchases__cell 
            .purchases__content(data-title="Магазин")
                img.purchases__img(src="../assets/izum.png")(alt="Изюм")
        .purchases__cell 
            .purchases__content(data-title="Сумма покупки") 100 ₽
        .purchases__cell
            .purchases__content(data-title="Списано") 15 бонусов
        .purchases__cell
            .purchases__content(data-title="Начислено") 4.25 бонусов
    .purchases__row
        .purchases__cell
            .purchases__content(data-title="Дата") 05.01.2018 22:12 
        .purchases__cell 
            .purchases__content(data-title="Магазин")
                img.purchases__img(src="../assets/miss.png")(alt="Мисс")
        .purchases__cell 
            .purchases__content(data-title="Сумма покупки") 100 ₽
        .purchases__cell 
            .purchases__content(data-title="Списано") 15 бонусов
        .purchases__cell 
            .purchases__content(data-title="Начислено") 4.25 бонусов
    .purchases__row
        .purchases__cell 
            .purchases__content(data-title="Дата")  05.01.2018 22:12 
        .purchases__cell 
            .purchases__content(data-title="Магазин")
                img.purchases__img(src="../assets/odm.png")(alt="Одм")
        .purchases__cell
            .purchases__content(data-title="Сумма покупки") 100 ₽
        .purchases__cell 
            .purchases__content(data-title="Списано") 15 бонусов
        .purchases__cell 
            .purchases__content(data-title="Начислено") 4.25 бонусов
    .purchases__row
        .purchases__cell
            .purchases__content(data-title="Дата") 05.01.2018 22:12 
        .purchases__cell 
            .purchases__content(data-title="Магазин")
                img.purchases__img(src="../assets/izum.png")(alt="Изюм")
        .purchases__cell
            .purchases__content(data-title="Сумма покупки") 100 ₽
        .purchases__cell 
            .purchases__content(data-title="Списано") 15 бонусов
        .purchases__cell 
            .purchases__content(data-title="Начислено") 4.25 бонусов
    .purchases__row
        .purchases__cell 
            .purchases__content(data-title="Дата") 05.01.2018 22:12 
        .purchases__cell 
            .purchases__content(data-title="Магазин")
                img.purchases__img(src="../assets/izum.png")(alt="Изюм")
        .purchases__cell 
            .purchases__content(data-title="Сумма покупки") 100 ₽
        .purchases__cell
            .purchases__content(data-title="Списано") 15 бонусов
        .purchases__cell
            .purchases__content(data-title="Начислено") 4.25 бонусов
    .purchases__row
        .purchases__cell
            .purchases__content(data-title="Дата") 05.01.2018 22:12 
        .purchases__cell 
            .purchases__content(data-title="Магазин")
                img.purchases__img(src="../assets/miss.png")(alt="Мисс")
        .purchases__cell 
            .purchases__content(data-title="Сумма покупки") 100 ₽
        .purchases__cell 
            .purchases__content(data-title="Списано") 15 бонусов
        .purchases__cell 
            .purchases__content(data-title="Начислено") 4.25 бонусов
    .purchases__row
        .purchases__cell 
            .purchases__content(data-title="Дата")  05.01.2018 22:12 
        .purchases__cell 
            .purchases__content(data-title="Магазин")
                img.purchases__img(src="../assets/odm.png")(alt="Одм")
        .purchases__cell
            .purchases__content(data-title="Сумма покупки") 100 ₽
        .purchases__cell 
            .purchases__content(data-title="Списано") 15 бонусов
        .purchases__cell 
            .purchases__content(data-title="Начислено") 4.25 бонусов
    .purchases__row
        .purchases__cell
            .purchases__content(data-title="Дата") 05.01.2018 22:12 
        .purchases__cell 
            .purchases__content(data-title="Магазин")
                img.purchases__img(src="../assets/izum.png")(alt="Изюм")
        .purchases__cell
            .purchases__content(data-title="Сумма покупки") 100 ₽
        .purchases__cell 
            .purchases__content(data-title="Списано") 15 бонусов
        .purchases__cell 
            .purchases__content(data-title="Начислено") 4.25 бонусов
    .purchases__row
        .purchases__cell 
            .purchases__content(data-title="Дата") 05.01.2018 22:12 
        .purchases__cell 
            .purchases__content(data-title="Магазин")
                img.purchases__img(src="../assets/izum.png")(alt="Изюм")
        .purchases__cell 
            .purchases__content(data-title="Сумма покупки") 100 ₽
        .purchases__cell
            .purchases__content(data-title="Списано") 15 бонусов
        .purchases__cell
            .purchases__content(data-title="Начислено") 4.25 бонусов
    .purchases__row
        .purchases__cell
            .purchases__content(data-title="Дата") 05.01.2018 22:12 
        .purchases__cell 
            .purchases__content(data-title="Магазин")
                img.purchases__img(src="../assets/miss.png")(alt="Мисс")
        .purchases__cell 
            .purchases__content(data-title="Сумма покупки") 100 ₽
        .purchases__cell 
            .purchases__content(data-title="Списано") 15 бонусов
        .purchases__cell 
            .purchases__content(data-title="Начислено") 4.25 бонусов
    .purchases__row
        .purchases__cell 
            .purchases__content(data-title="Дата")  05.01.2018 22:12 
        .purchases__cell 
            .purchases__content(data-title="Магазин")
                img.purchases__img(src="../assets/odm.png")(alt="Одм")
        .purchases__cell
            .purchases__content(data-title="Сумма покупки") 100 ₽
        .purchases__cell 
            .purchases__content(data-title="Списано") 15 бонусов
        .purchases__cell 
            .purchases__content(data-title="Начислено") 4.25 бонусов
    .purchases__row
        .purchases__cell
            .purchases__content(data-title="Дата") 05.01.2018 22:12 
        .purchases__cell 
            .purchases__content(data-title="Магазин")
                img.purchases__img(src="../assets/izum.png")(alt="Изюм")
        .purchases__cell
            .purchases__content(data-title="Сумма покупки") 100 ₽
        .purchases__cell 
            .purchases__content(data-title="Списано") 15 бонусов
        .purchases__cell 
            .purchases__content(data-title="Начислено") 4.25 бонусов
    .purchases__row
        .purchases__cell 
            .purchases__content(data-title="Дата") 05.01.2018 22:12 
        .purchases__cell 
            .purchases__content(data-title="Магазин")
                img.purchases__img(src="../assets/izum.png")(alt="Изюм")
        .purchases__cell 
            .purchases__content(data-title="Сумма покупки") 100 ₽
        .purchases__cell
            .purchases__content(data-title="Списано") 15 бонусов
        .purchases__cell
            .purchases__content(data-title="Начислено") 4.25 бонусов
    .purchases__row
        .purchases__cell
            .purchases__content(data-title="Дата") 05.01.2018 22:12 
        .purchases__cell 
            .purchases__content(data-title="Магазин")
                img.purchases__img(src="../assets/miss.png")(alt="Мисс")
        .purchases__cell 
            .purchases__content(data-title="Сумма покупки") 100 ₽
        .purchases__cell 
            .purchases__content(data-title="Списано") 15 бонусов
        .purchases__cell 
            .purchases__content(data-title="Начислено") 4.25 бонусов
    .purchases__row
        .purchases__cell 
            .purchases__content(data-title="Дата")  05.01.2018 22:12 
        .purchases__cell 
            .purchases__content(data-title="Магазин")
                img.purchases__img(src="../assets/odm.png")(alt="Одм")
        .purchases__cell
            .purchases__content(data-title="Сумма покупки") 100 ₽
        .purchases__cell 
            .purchases__content(data-title="Списано") 15 бонусов
        .purchases__cell 
            .purchases__content(data-title="Начислено") 4.25 бонусов
    .purchases__row
        .purchases__cell
            .purchases__content(data-title="Дата") 05.01.2018 22:12 
        .purchases__cell 
            .purchases__content(data-title="Магазин")
                img.purchases__img(src="../assets/izum.png")(alt="Изюм")
        .purchases__cell
            .purchases__content(data-title="Сумма покупки") 100 ₽
        .purchases__cell 
            .purchases__content(data-title="Списано") 15 бонусов
        .purchases__cell 
            .purchases__content(data-title="Начислено") 4.25 бонусов  
    .purchases__row.spoiler__item
        .purchases__cell
            .purchases__content(data-title="Дата") 05.01.2018 22:12 
        .purchases__cell 
            .purchases__content(data-title="Магазин")
                 img.purchases__img(src="../assets/izum.png")(alt="Изюм")
        .purchases__cell
            .purchases__content(data-title="Сумма покупки") 100 ₽
        .purchases__cell 
            .purchases__content(data-title="Списано") 15 бонусов
        .purchases__cell 
             .purchases__content(data-title="Начислено") 4.25 бонусов  
    .purchases__row.spoiler__item
        .purchases__cell
            .purchases__content(data-title="Дата") 05.01.2018 22:12 
        .purchases__cell 
            .purchases__content(data-title="Магазин")
                img.purchases__img(src="../assets/izum.png")(alt="Изюм")
        .purchases__cell
            .purchases__content(data-title="Сумма покупки") 100 ₽
        .purchases__cell 
            .purchases__content(data-title="Списано") 15 бонусов
        .purchases__cell 
            .purchases__content(data-title="Начислено") 4.25 бонусов  