.howitworcks
    h2.howitworcks__h2 Как это работает?
    ol.howitworcks__items
        li.howitworcks__item Предприниматель назначает размер бонусного вознаграждения, которую получит покупатель за покупку товара/услуги
        li.howitworcks__item Покупатель, купив товар/услугу, с помощью сервиса Smart Club получает бонусное вознаграждение, которым он может компенсировать часть затрат на следующую покупку
        li.howitworcks__item У предпринимателя пропадает необходимость в скидках, "желтых" ценниках, выплат за приведение клиентов и т.п.
        li.howitworcks__item Команда Smart Club организует на своей платформе обмен данными, начисление премий, отчетность и сквозную аналитику
        li.howitworcks__item Предприниматель, помимо увеличения продаж, получает полную информацию о продажах своего товара/услуги конечному покупателю - география, пол, возраст и т.д.