.footer.footer-left
    h2.footer__h2 Контакты
    .footer__description Мы с удовольствие ответим на Ваши вопросы и выслушаем
    include ../../modules/footersoc/footersoc
    include ../../modules/accept/accept