.pluses{
    @media(min-width: $notebook){
         padding: 70px 0;
        display: flex;
    }   
    &__h2{
        font: 30px MullerBold, sans-serif;
        margin: 0;
        text-align: right;
        position: relative;
        padding-bottom: 60px;
        &::after{
           content: " ";
           display:block;
           width: 130px;
           height: 4px;
           background: #a0a0a0; 
           margin: 30px auto;
           position: absolute;          
           right: 0;
        }
        @media(min-width: $notebook){
         font: 46px MullerBold, sans-serif;
         &::after{
             top: 30px;
         }
    }  
    } 
      
        &__img{
            width:100%;
            @media(min-width: $notebook){
                 width:calc(40% - 30px);
            }
        }
        &__text{
            width:100%;
            @media(min-width: $notebook){
                 width:calc(60% - 30px);
            }
        }   
        &__item{
            text-align: right;
            position: relative;
            margin: 30px 50px 30px 0;   
            @media(min-width: $notebook){
                 margin: 30px 50px;
            }         
            a{
                color:#a0a0a0;
                text-decoration: none;
                border-bottom: 1px solid;
                transition: border .3s;
                &:hover, &:active, &:focus{
                    border: none;
                }
            }
            &:after{
                content: "";
                display: block;
                position: absolute;
                width: 35px;
                height: 30px;
                background: url("../images/star.png");
                right: -50px;
                top: -10px;
            }
        }
    }