.pluses
    img.pluses__img(src="assets/iphone.png")(alt="")
    .pluses__text
        .pluses__h2 С нами легко и выгодно
        .pluses__items
            .pluses__item Удобный интерфейс приложения (убедиться в этом можно 
                a(href="") здесь
                | )
            .pluses__item Актуальный список партнёров Smart Club на карте города
            .pluses__item История начислений бонусов и актуальный баланс
            .pluses__item Специальные предложения от лучших магазинов города