.registrationbutton__link{
    display: block;
    padding: 17px;
    box-sizing: border-box;
    border: 1px solid #fbd429;
    border-radius: 12px;
    text-align:center;
    max-width: 290px;
    font:16px MullerBold, sans-serif;
    color:#000;
    transition: color .3s;
    text-transform: uppercase;
    text-decoration: none;
    &:hover, &:active, &:focus{
          color:#f1cb25;
    }
    &:visited{
            color: #000;
    }
    @media(min-width: 1300px){
        font:18px MullerBold, sans-serif; 
    }
}