.bonuses__row{    
    @media(min-width:$tablet){
        display:flex;
        margin: 0 -20px;
        flex-wrap:wrap;
    }
    @media(min-width:$notebook){
        flex-wrap:nowrap;
    }
}
.bonuses__item{   
    margin: 20px;
    background: #fff; 
    padding: 25px;
    box-sizing: border-box;   
    border-radius: 12px;
    position: relative;
    margin-right: 60px;
    min-height: 160px;
    align-items: flex-start;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    @media(min-width:$tablet){
       width:calc(50% - 80px);
    }
    @media(min-width:$notebook){
         width:calc(25% - 60px);
    }
}

.bonuses__img{
    position:absolute;
    right: -60px;
    top: 40px;
}
.bonuses__item-proposle{
    border: 1px #f1cb25 solid;
    border-radius: 12px;
    margin-right: 20px;
}
.bonuses__item-total{
    border: 1px #f1cb25 solid;  
    margin-right: 20px;  
    .bonuses__title{
        font: 27px MullerBold, sans-serif; 
        padding-bottom: 20px;
        border-bottom: 1px #f7f7f7 solid; 
    }
}
.bonuses__num{
     margin-top: 20px;
    font: 30px MullerBold, sans-serif; 
}
.bonuses__green{
    color: #1aab43;
    font: 46px MullerBold, sans-serif;
}
.bonuses__yellow{
    color:#f1cb25;
    font: 30px MullerBold, sans-serif;
    border-bottom:1px solid;
    display: inline-block;
}

    