.bonuses__row
    .bonuses__item.bonuses__item-total
        .bonuses__title Всего доступно
        .bonuses__green 103.6
    .bonuses__item
        .bonuses__title Доступно для ИЗЮМ
        .bonuses__num 96.05
        img.bonuses__img(src="../assets/izum.png")
    .bonuses__item
        .bonuses__title Доступно для Miss
        .bonuses__num 96.05
        img.bonuses__img(src="../assets/miss.png")
    .bonuses__item
        .bonuses__title Доступно для ОДМ
        .bonuses__num 96.05
        img.bonuses__img(src="../assets/odm.png")
.bonuses__row
    .bonuses__item.bonuses__item-proposle
        .bonuses__text Получи бонус за регистрацию друга с этим кодом:
        .bonuses__yellow 15F61H3
    .bonuses__item
        .bonuses__title Доступно для ИЗЮМ
        .bonuses__num 96.05
        img.bonuses__img(src="../assets/izum.png")
    .bonuses__item
        .bonuses__title Доступно для Miss
        .bonuses__num 96.05
        img.bonuses__img(src="../assets/miss.png")
    .bonuses__item
        .bonuses__title Доступно для ОДМ
        .bonuses__num 96.05
        img.bonuses__img(src="../assets/odm.png")
.bonuses__row
    .bonuses__item
        .bonuses__title Доступно для ИЗЮМ
        .bonuses__num 96.05
        img.bonuses__img(src="../assets/izum.png")
    .bonuses__item
        .bonuses__title Доступно для ИЗЮМ
        .bonuses__num 96.05
        img.bonuses__img(src="../assets/izum.png")
    .bonuses__item
        .bonuses__title Доступно для Miss
        .bonuses__num 96.05
        img.bonuses__img(src="../assets/miss.png")
    .bonuses__item
        .bonuses__title Доступно для ОДМ
        .bonuses__num 96.05
        img.bonuses__img(src="../assets/odm.png")