doctype html
html.no-js(lang="ru")
  head
    include ../_includes/meta
    include ../_includes/styles
    block title
  body
    block header
    block content
    block footer
    include ../_includes/scripts
