extends _layouts/default

block title
  title  Новости
block header
  include  _layouts/header-lk/header-lk
block content
  section.section.main__banner.main__banner-lk    
    .container
        h1.lk__h1 Новости
    .lk__mewsblock
       include  modules/newsblock/newsblock
