extends _layouts/default

block title
  title  Новости
block header
  include  _layouts/header-lk/header-lk
block content
  section 
    .container.main__banner-lk
        h1.lk__h1 Новости
  section.lk__mewsblock.spoiler
    .container
      include  modules/newsblock/newsblock
  include  modules/more/more
